
		<div class="container">
			<div class="row">
				<main class="col-md-12">
					<div>
					<p>
						Welcome and thank you for visiting.</p>
	
					<p> To give you a taste of our menu, try these tempting cupcakes: The "Yonge 'n' Eligible" cupcake featuring vanilla buttercream on a vanilla or chocolate cake; the chocolate buttercream on chocolate cake "James Brown"; and our marble "Frost Me" cupcake topped with vanilla frosting that changes colour seasonally.All our cupcakes are baked daily from the freshest ingredients. We also offer custom cupcakes, mini cupcakes, cake pops, gluten-free cupcakes and hand-illustrated cakes made to suit your special celebration. </p> </div>
                 </div>
				</main>
			</div>
		</div>
